<!DOCTYPE html>
<html>
<head>
<title>Form</title>
<!-- <script src="/static/getrequest.js"></script> -->
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
<script src="js/postrequest.js"></script>
</head>
<body>
    <form id="form">
     
     First name: <input type="text" id="firstname"><br><br>
     Last name: <input type="text" id="lastname"> <br><br>
     Id: <input type="text" id="fname"><br><br>
     <input type="button" id="insert" value="Insert" onclick="ajaxInsert()">
     <input type="button" id="searchall" value="Search All" onclick="ajaxSearchAll()">
     <input type="button" id="search" value="Search" onclick="ajaxSearch()">
     <!-- <input type="button" id="delete" value="Delete" onclick="ajaxDelete()"> -->
     <!-- <input type="button" id="update" value="Update" onclick="ajaxUpdate()"> -->
    </form>
    <table id="resultdiv" border="1">
        <th>First Name</th>
        <th>Last Name</th>
    </table>
</body>
</html>